<html>

<head>
<title>Morty Smith</title>
</head>

<body>
<h1>Morty Smith</h1>
Although the information is easily accessible, not much has been revealed about Morty's past life. Currently, Morty is 14 years old, and as of the beginning of the series, Rick Sanchez had been mysteriously missing from the family for a total of 14 years. It is unknown if Morty's birth and Rick's disappearance are linked to each other, but it has been shown on two separate occasions that Rick knew Morty when he was only a baby. In the episode "Close Rick-Counters of the Rick Kind", one of Rick's happy memories of Morty was picking him up as a baby. In the episode "Get Schwifty", a picture on Birdperson's wall depicted Rick holding a baby, who, although had an ambiguous identity, was very likely Morty at that same age.

In the episode "Raising Gazorpazorp", Beth accidentally admitted that when Morty was a baby, Jerry filled Morty with his own insecurity, turning him into the worrying coward he is today.<sup>1</sup>

<br />
<br />

<sup>1</sup> https://rickandmorty.fandom.com/wiki/Morty_Smith
</body>

</html>
